<section class="banner"></section>

<div class="content">
  <h1 class="mt-12">Editing book</h1>

  <%= render "books/form", book: @book %>

  <div class="edit-buttons">
    <%= link_to "Show this book", book_path(@book), class: "btn-gray" %>
  
    <%= link_to "Back to books", books_path, class: "btn-gray" %>
  </div>
</div>
