<div class="w-full">
  <%= render "shared/notice" %>

  <div class="flex-between-center">
    <h1 class="title-h1">Books</h1>
    <%= link_to "New book", new_book_path, class: "btn-blue" %>
  </div>

  <div id="books" class="mx-auto lg:w-3/4 w-full">
    <%= render partial: "books/book", collection: @books %>
  </div>
</div>
