<section class="main-banner">
  <div class="main-content">
    <h1 class="title-h1">The Latest Books</h1>
  </div>
</section>

<section class="books-list">
  <div class="books-content">
    <%= render partial: "books/book", collection: @books %>
  </div>
</section>
