<div class="w-full">
  <%= render "shared/notice" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Books</h1>
    <%= link_to "New book", new_book_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="books" class="min-w-full">
    <%= render partial: "books/book", collection: @books %>
  </div>
</div>
