<section class="main-banner">
  <div class="main-content">
    <h1 class="title-h1">The Latest Books</h1>
  </div>
</section>

<section class="books-search z-10">
  <div class="books-content mb-14">
    <%= render "books/search_form" %>
  </div>
</section>

<section class="books-list">
  <div class="books-content">
    <div id="books">
      <%= render partial: "books/book", collection: @books %>
    </div>
  </div>
</section>
