@layer components {
  .book {
    @apply relative hover:cursor-pointer border-t border-neutral-300 pr-10;
  }  

  .book-description {
    @apply mb-3;
  }

  .book-description:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 50%;
    width: 15px;
    height: 20px;
    background-image: url("right_arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.2;
    transition: background-image 300ms, opacity 300ms;
  }
  
  .book:hover .book-description:after {
    background-image: url("right_arrow_blue.svg");
    opacity: 1;
  }
  
  .book:hover .book-title {
    color: rgb(11, 105, 186);
  }
}
