@layer components {
  .content {
    @apply mx-auto md:w-2/3 w-full px-5;
  }

  .books-content {
    @apply px-6 mx-auto mb-28 lg:w-3/4 w-full;
  }

  .main-content {
    @apply max-w-6xl px-6 pt-52 pb-28 md:pb-32 m-auto;
  }

  .main-content:after {
    content: "";
    position: absolute;
    top: 50px;
    right: 120px;
    width: 580px;
    max-width: 100%;
    height: 600px;
    background-image: url("ring.svg");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.2;
  }
  
  .main-banner {
    @apply main-banner-gradient mb-14;
  }
}
